<section class='hero is-primary'>
<div class='hero-body'>
<div class='container'>
<h1 class='title'> Edit Artist Info </h1>
</div>
</div>
</section>
<section class="section">
<%= render 'form' %>
</section>