<section class='hero is-primary'>
<div class='hero-body'>
<div class='container'>
<h1 class='title'> Studios </h1>
</div>
</div>
</section>
<section class='section has-background-white-ter'>
<% @studios.each do |studio| %>
<div class='level'> 
<div class='level-item'>
<%= link_to studio.name, studio_path(studio) %>
</div>
</div>
<% end %>
</section>
