<section class='hero is-primary'>
    <div class='hero-body'>
        <div class='container'>
            <h1 class='title'> Studios </h1>
        </div>
    </div>
</section>

<section class='section has-background-white-ter'>
    <div class="tile is-ancestor" id="studios-tiles">
        <% @studios.each do |studio| %>
            <div class="tile is-parent is-4">
                <div class="tile">
                    <div class='box'> 
                        <%= link_to studio.name, studio_path(studio), class: 'is-size-2' %>
                        <p class="subtitle"><%= studio.location %></p>

                        <% if studio.sessions.count > 0 %>
                            <p class="content">Favorite Studio of <span class="has-text-weight-semibold"><%= top_artist(studio).name %></span></p>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>
